/* do zrobienia: 
1. przy naciskaniu na wybór gender -> wybrana opcjia zostawała w inpucie
2. icon - ustawić ładne obracanie
3. przy naciskaniu na input -> label podnosi się -> po wprowadzeniu dannych ma zostać podniesiony, teraz spada na danne wpisane w inpucie. 
4. po naciśnieciu na inne pole/body -> ma znikać wybór gender
5. dołączyć kalendarz rozwijany z wyborem dat
6. jeżeli pole nie zostało wypełnione, to można go podkreslic na np czerwony i wyswietlić informacjie, że jest obowiązkowe
*/

@use './utils/variables';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
	color: white;
}

.register__card {
	display: flex;
	flex-direction: column;
	margin-top: 180px;
	margin-bottom: 100px;
	background-color: black;
	border-radius: 10px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;

	&-img {
		height: 400px;
		img {
			width: 100%;
			height: 100%;
			background-position: center;
			object-fit: cover;
		}
	}
	&-form {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		padding: 40px 30px;

		.contact__forms {
			display: flex;
			flex-direction: column;
			row-gap: 30px;

			.contact__form {
				position: relative;
				color: variables.$maincolor;
				&-input {
					width: 100%;
					padding: 5px 0;
					border: none;
					border-bottom: 1px solid rgb(204, 204, 204, 0.3);
					font-family: inherit;
					font-size: 16px;
					color: rgb(204, 204, 204);
					outline: none;
					background: none;
					transition: 0.3s;

					&:focus {
						border: none;
						box-shadow: 0 4px 6px -3px rgb(232, 78, 237);
					}
					&:focus ~ label {
						transform: translateY(-90%);
						color: rgb(204, 204, 204, 0.7);
					}
				}

				&-label {
					position: absolute;
					left: 0;
					top: 5px;
					color: variables.$maincolor;
					transition: transform 0.3s;
				}

				&-icon {
					position: absolute;
					right: 0;
					top: 5px;
					cursor: pointer;
					transition: rotate 0.3s;
				}

				.icon-rotate {
					rotate: 180deg;
					transform: translateY(50%);
				}

				&-select {
					display: none;
					position: absolute;
					width: 100%;
					padding-top: 4px;
					font-size: 16px;
					color: black;
					background-color: white;
					z-index: 1;

					option {
						padding: 7px 5px;
					}
				}

				.show {
					display: block;
				}

				&-btn {
					width: fit-content;
					padding: 10px 35px;
					border-radius: 20px;
					font-size: 18px;
					color: white;
					letter-spacing: 1px;
					background-color: rgb(87, 184, 70);
					border: none;
					cursor: pointer;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.register__card {
		max-width: 800px;
		min-height: 590px;
		flex-direction: row;
		margin: 180px auto;
		border-radius: 10px;

		&-img {
			height: 590px;
		}
		&-form {
			width: 50%;
			padding-left: 60px;
			padding-right: 60px;
		}
		.contact__form {
			&-select {
				width: calc(560px / 2);
			}

			&-btn {
				margin-top: 20px;
			}
		}
	}
}
